<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K2ZSXLKHQG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K2ZSXLKHQG', {
    'allow_google_signals': false,             //Disabling advertising banners.
    'allow_ad_personalization_signals': false, // Prevent ad personalization.
    'restricted_data_processing': true,        // Restricted data processing.
    // Sending the page link without any input or email address that may appear after the (?) symbol.
    'page_location': window.location.protocol + '//' + window.location.host + window.location.pathname
  });
</script>
