<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K2ZSXLKHQG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K2ZSXLKHQG', {
    'allow_google_signals': false,             // تعطيل الإشارات الإعلانية
    'allow_ad_personalization_signals': false, // منع تخصيص الإعلانات
    'restricted_data_processing': true,        // معالجة مقيدة للبيانات
    // إرسال رابط الصفحة مجرداً بدون أي مدخلات أو بريد إلكتروني قد يظهر بعد علامة (?)
    'page_location': window.location.protocol + '//' + window.location.host + window.location.pathname
  });
</script>
