<footer class="mt-5 border-top small py-3 bg-body-tertiary text-body-secondary">
 <!-- <div class="container text-end" dir="rtl">-->
    <p class="text-center mb-3">
      فاحص كود بسيط - تقريب المفاهيم بلغتك الأم © 2026
    </p>

    <p class="fw-bold mb-2">روابط مهمة:</p>

    <ul class="list-unstyled ms-4 mb-0">
      <li class="mb-1">
        <a
          href="{{ '/privacy-policy.html' | relative_url }}"
          class="text-decoration-none text-body-secondary"
          >سياسة الخصوصية</a
        >
      </li>
    </ul>
    
    <p class="fw-bold mb-2">أعمالي:</p>

    <ul class="list-unstyled ms-4 mb-0">
      <li class="mb-1">
        <a
          href="https://interactivemathdz.github.io/Mathematics-for-Final-Grades/"
          class="text-decoration-none text-body-secondary"
          >منصة التميز في الرياضيات، للأقسام النهائية.</a
        >
      </li>
    </ul>
  <!--</div>-->
</footer>
