<footer>
  <div class="footer-content">
    <p class="copyright-text">
      فاحص كود بسيط - تقريب المفاهيم بلغتك الأم © {{ 'now' | date: "%Y" }}
    </p>
    
    <div class="footer-links-section">
      <span class="important-links-title">روابط مهمة:</span>
      <a href="{{ '/privacy-policy' | relative_url }}">سياسة الخصوصية</a>
    </div>

    <div class="footer-links-section">
      <span class="important-links-title">أعمالي:</span>
      <a href="#">منصة التميز في الرياضيات، للأقسام النهائية.</a>
    </div>
  </div>
</footer>
