<footer>
  <div class="footer-content">
    <p class="copyright-text">
      Simple Code Checker - Bringing Concepts Closer to Your Native Language © {{ 'now' | date: "%Y" }}
    </p>
    
    <div class="footer-links-section">
      <span class="important-links-title">Important links:</span>
      <a href="{{ '/privacy-policy' | relative_url }}"> privacy policy </a>
    </div>

    <div class="footer-links-section">
      <span class="important-links-title">More Projects:</span>
      <a href="https://interactivemathdz.github.io/Mathematics-for-Final-Grades/">منصة التميز في الرياضيات، للأقسام النهائية.</a>
    </div>
  </div>
</footer>
