<script src="{{ '/assets/js/sidebarScript.js' | relative_url }}"></script>
<script src="{{ '/assets/js/GeminiApiConnectEngine.js' | relative_url }}"></script>
# مكتبة لتحويل نصوص مارك داون إلى html
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>


<script src="{{ '/assets/js/inspectionEngine.js' | relative_url }}"></script>

<script>
// Check for the admin tag before loading and running the console.
  if (localStorage.getItem("role") === "admin") {
    // 1. Create a script element to dynamically load the library.
    var script = document.createElement("script");
    script.src = "https://unpkg.com/vconsole@latest/dist/vconsole.min.js";
    // 2. Activate the console after the library has finished loading.
    script.onload = function () {
      window.vConsole = new window.VConsole();
    };

    document.head.appendChild(script);
  }
</script>
